<ul>
    {{#each}}
        <li>
            {{#link-to 'walk' this}}
                {{author}},
                {{title}}
            {{/link-to}}
        </li>
    {{else}}
        <li>No contacts found.</li>
    {{/each}}
</ul>
